.nepar{
    letter-spacing: 1.12em;
    line-height: 1.1em;
}

.part{
    text-align: justify;
    columns: 2; 
}


kbd{
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}


u{
    text-decoration: #f00 wavy underline;
}

mark{
    color: rgba(82, 79, 79, 0.2);
    transition: all 5s ease-in; 
}


@keyframes bounceIn{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }
    50%{ transform: scale(2.2);
    opacity: 0.5;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}

body > small{
    animation: bounceIN 5s;
}