section{
    display: grid;
    grid-template-areas: 
    "......    zaglavlje   zaglavlje   desno"
    "lijevo    tijelo      tijelo      desno"
    "podnozje  podnozje    podnozje    desno";
    gap: 2rem;
}


.podrucje{
    background-color: #eee;
    border-radius: 1rem;
    padding: 2rem;
}

.zaglavlje{
background-color: #999;
grid-area: zaglavlje; /* grid-area odgovara grid-template-areas području*/
}

.lijevo{
  grid-area: lijevo;
}

.desno{
    background-color: #999;
    grid-area: desno;
}

.tijelo{
grid-area: desno;
}

.podnozje{
background-color: #999;
grid-area: podnozje;
}