div{
    background-color: lightblue;
    padding: 50px;
    font-size: 3rem;
    color: black;
}

p::before{
    content: 'mobile first';
}

@media (min-width:  800px){
    div{
        color: red;
    }
    p ::before{
        content: 'veće jednako 800 px';
    }
}

@media (min-width: 900px) and (max-width: 1000px){
    div{
        color: blue;
    }
    p ::before{
        content: 'iznmeđu 900 i 1000 px';
    }
}

@media (min-width: 1000px){
    div{
        color: green;
    }
    p ::before{
        content: 'više od 1000 px';
    }
}