body{
    background-color: aliceblue;
}

fieldset{
    background-color: cornsilk;
    width: 70%;
    margin-bottom: 10%;
}

legend{
    border: 1px solid blue;
    background-color: black;
    color: white;
}

div.unos{
    margin: 10px;
}